.details-container {
	text-align: center;
	padding: 20px;
}

h3 {
	margin: 0;
}

.input-section {
	margin-top: 10px;
}

.stock-chart {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.stock-chart svg {
	width: 100%;
}
