.portfolio-container {
	display: flex;
	align-items: flex-start; /* Center vertically */
	justify-content: center; /* Center horizontally */
	height: 100vh;
}

.table-container {
	flex: 1;
	text-align: center; /* Center text horizontally */
}

.pie-chart-container {
	flex: 1;
	display: flex;
	justify-content: center; /* Center pie chart horizontally */
	align-items: center; /* Center pie chart vertically */
}
